.quotes__title {
  font-size: 12px;
  line-height: 1.15;
  font-weight: normal;
  color: #fecda7;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

@media screen and (max-width: 767px) {
  .quotes__title {
    margin-bottom: max(3.4vw, 14px);
  }
}