.place__image {
    width: 100%;
    height: 533px;
    object-fit: cover;
}

@media screen and (max-width: 1279px) {
    .place__image {
        height: 500px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .place__image {
        height: 433px;
    }
  }