.lead {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 70px;
  justify-items: center;
  align-items: center;
  min-height: 432px;
  margin-bottom: 93px;
  padding: 0 70px 0;
}

@media screen and (max-width: 1279px) {
  .lead {
    padding: 0 40px 0;
    margin-bottom: 70px;
    gap: 40px;
    min-height: 324px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    padding: 0 30px 0;
    margin-bottom: 40px;
    gap: 0;
    min-height: 243px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr;
  }
}