.lead {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px;
    justify-items: center;
    align-items: center;
    min-height: 432px;
    margin-bottom: 93px;
    padding: 0 70px 0;
}