.place__paragraph {
  font-size: 14px;
  margin: 0;
  padding-top: 22px;
  line-height: 1.45;
  letter-spacing: .2px;
  max-width: 372px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    padding-top: min(2vw, 22px) ;
    line-height: 1.25;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: max(2.1vw, 14px);
    max-width: 483px;
  }
}