.footer__copyright {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-size: 36px;
}

@media screen and (max-width: 1280px) {
    .footer__copyright {
      font-size: calc(36px - 26 *(1280px - 100vw) / (1280 - 320));
    }
}