.footer__copyright {
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  font-size: 36px;
  padding: 0 26px;
}

@media screen and (max-width: 1279px) {
  .footer__copyright {
    font-size: max(2.8vw, 10px);
  }
}