.lead__image {
  width: 356px;
  height: 356px;
  object-fit: cover;
}

@media screen and (max-width: 1279px) {
  .lead__image {
    width: 310px;
    height: 310px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__image {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 676px) {
  .lead__image {
    width: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: -1;
  }
}