.quotes {
  padding: 136px 70px 126px;
}

@media screen and (max-width: 1023px) {
  .quotes {
    padding: 60px 50px 70px;
  }
}

@media screen and (max-width: 767px) {
  .quotes {
    padding: max(5.2vw, 20px) 26px 30px;
  }
}