.header__item {
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .header__item {
    margin: 10px 5px;
  }
  .header__item:first-child {
    margin-left: 0;
  }
}